.carousel-inner {
    height: 500px;
    text-align: center;
}

.w-100d-block {
    height: 500px;
    width: 100%;
    text-align: center;
}



.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-start-start-radius: 50px;
    border-top-right-radius: 50px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px gray;
}

.card-title {
    color: #5e2006;
}

.card-text {
    color: #9e2e1d;
}

section {
    margin-top: 80px;
}

section h2 {
    color: #b23b2a;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    text-align: center;
    border-radius: 50px;
}

#introWeb {
    width: 85%;
    margin: auto;
    height: 400px;
    border: 2px solid black;
    background-image: url(../IMG/HomePage/backgroundIntro.png);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    border-radius: 50px;
}

#introWeb li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 23px;
    width: 90%;
    margin: auto;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

#introWeb img {
    width: 25px;
}

.hrSection {
    border: none;
    height: 5px;
    background-color: #391200;
}

