* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    width: 100%;
    margin: auto;
    background-color: white;
}

.carousel-inner {
    height: 500px;
    text-align: center;
}

.w-100d-block {
    height: 500px;
    width: 100%;
    text-align: center;
}

nav {
    background-color: #eddac1;
}

#button_order {
    background-color: #F59E0B;
}

#button_order:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #e4b159;
}

#collapsibleNavId a {
    color: #2B1B14;
}

.nav-item {
    padding-left: 15px;
    font-size: 25px;
}

.nav-item:hover {
    text-decoration: underline;
}

.modal-body {
    height: 300px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.col {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px gray;
}

.card-title {
    color: #5e2006;
}

.card-text {
    color: #9e2e1d;
}

section {
    margin-top: 40px;
}

section h2 {
    color: #b23b2a;
    font-weight: bold;
    text-transform: uppercase;
}

.card-order {
    border-radius: 10px;
    width: 150px;
    background-color: burlywood;
    color: #7d2905;
    font-weight: bold;
}

.card-body button {
    font-size: medium;
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    background-color: #F59E0B;
    color: #7d2905;
    font-weight: bold;
    padding: 2px;
}

.bg-dark {
    background-color: #8d5a43 !important;
    color: #F5F5F5;
}

footer a {
    color: #D6D3D1;
}

#logo_web {
    width: 180px;
}

.dropdown-menu {
    background-color: #eee0cf;
}

.dropdown-item:hover {
    background-color: #e4b159;
}

#icon_info {
    width: 100px;
}

#user {
    float: right;
    margin-left: 50px
}

#menu {
    width: 100%;
}

#menu td {
    padding: 20px;
}

#menu table td {
    border-top: 2px solid #F59E0B;
    color: #9e2e1d;
}

#tieu_de {
    background: #e4b159;
    text-align: center
}

#tieu_de button {
    font-size: medium;
    width: 150px;
    background-color: #d8a03f;
    color: #7d2905;
    font-weight: bold;
}

#searchbar {
    border-radius: 10px;
    width: 70%;
}

#searchbtn {
    border-radius: 10px;
    width: 100px;
    background-color: burlywood;
    color: #7d2905;
    font-weight: bold;
    margin-left: 50px;
}

.list-group {
    width: 200px;
    height: 500px;
    background-color: #e4b159;
    box-shadow: 0px 5px 5px rgb(138, 110, 10);

}

.list-group-item {
    width: 150px;
    background-color: #dc9f35;
    padding: 20px;
    margin: 17px;
    border: 1px solid #d8a03f;
    border-radius: 10px 10px 10px;
    box-shadow: 0px 3px 3px rgb(138, 110, 10);
}

#user li {
    list-style: none;
    float: left;
    padding-left: 30px;
}

#user img {
    width: 35px;
}

#user li:hover {
    transform: translateY(-5px);
}