* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    min-height: 100%;
    background-color: #efe7dd;
}

#container {
    width: 100%;
    margin: auto;
    background-color: #efe7dd;
}

footer {
    width: 100%;
}

nav {
    background-color: #eddac1;
}

#collapsibleNavId a {
    color: #2B1B14;
}

.nav-item {
    padding-left: 15px;
    font-size: 25px;
}

#button_order {
    background-color: #F59E0B;
}

#button_order:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #e4b159;
}

.nav-item:hover {
    text-transform: uppercase;
    font-weight: bold;
}

.modal-title {
    font-size: 30px;
    font-weight: bold;
}

.modal-body {
    background-color: #f1ebe4;
    text-align: center;
}

.modal-header {
    background-color: #eddac1;
}

.btn-primary {
    background-color: #F59E0B !important;
}

.col-md-4 a {
    padding-left: 5px;
}

.button-order {
    border-radius: 10px;
    width: 100px;
    background-color: burlywood;
    color: #7d2905;
    font-weight: bold;
}

.button_add_Cart {
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    background-color: rgb(244, 174, 77);
    color: #7d2905;
}

.bg-dark {
    background-color: #643925 !important;
    color: #F5F5F5;
}

#MXH a {
    padding-left: 10px;
}

#logo_web {
    width: 180px;
}

.dropdown-menu {
    background-color: #eee0cf;
}

.dropdown-item:hover {
    background-color: #e4b159;
}

#icon_info {
    width: 90px;
}

#icon_info:hover {
    transform: translateY(-5px);
}

#user {
    margin-right: 30px;
}

#user li {
    list-style: none;
    float: left;
    padding-left: 30px;
}

#user img {
    width: 35px;
}

#user li:hover {
    transform: translateY(-5px);
}

span {
    color: red;
}